request.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="purchase-item">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="first-name" type="xs:string" />
				<xs:element name="last-name" type="xs:string" />
				<xs:element name="age" type="xs:integer" />
				<xs:element name="item" type="xs:integer" />
				<xs:element name="count" type="xs:integer" />
				<xs:element name="amount" type="xs:float" />
				<xs:element name="date" type="xs:date" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
